.fixed {
    position: fixed;
    width: 300px;
    height: 150px;
    background: #999;
    top: 0%;
    left: 0%;
}

.relative {
    position: relative;
    width: 150px;
    height: 150px;
    background: #999;
    top: 50%;
    left: 0%;
}

.absolute {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #999;
    top: 0%;
    left: 0%;
}